.current-info{
  position: absolute;
  bottom: 77px;
  right: 70px;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.current-info > p {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.main-temp-container {
  display: flex;
  justify-content: flex-end;
}

.temp-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
  padding: 0;
}

.temp-container > p {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.temp-conversion {
  font-size: 15px;
  margin: 0;
  align-self: center;
}

.temp {
  font-size: 30px;
  margin: 10px -5px 0 0;
  align-self: flex-end;
}

.weather {
  font-size: 25px;
  margin: 20px 0 0;
}

.time {
  font-size: 57px;
  margin: 20px 0 0;
}

.date {
  font-size: 32px;
  margin: 20px 0 0;
}
