.current-info{
  position: absolute;
  z-index: 99;
  bottom: 7.7vh;
  right: 7.0vh;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.current-info > p, .count-container > p {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.main-temp-container {
  display: flex;
  justify-content: flex-end;
}

.temp-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.temp-container:last-of-type {
  margin: 0 0 0 4vh;
}

.temp-container > p {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.temp-conversion {
  font-size: 2.5vh;
  margin: 0;
  align-self: center;
}

.temp {
  font-size: 4vh;
  margin: 1vh 0 0 0;
  align-self: flex-end;
}

.weather {
  font-size: 4vh;
  margin: 2vh 0 0;
}

.time {
  font-size: 10vh;
  margin: 2vh 0 0;
}

.date {
  font-size: 5.5vh;
  margin: 1vh 0 0;
}
