@viewport {
  min-height: 2000px;
}

html, body, #app, .Home {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.Home {
  display: flex;
  flex-direction: column;
}

.user-info {
  position: absolute;
  z-index: 2000;
  right: 70px;
  top: 77px;
}

.job-count {
  margin: 0;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 100px;
  color: white;
}

.count {
  font-size: 40px;
}

.count-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 25px 0 0;
  height: 40px;
}

.node-count {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-count > p {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  font-size: 25px;
}

.background-1, .background-2 {
  transition: opacity 3s linear;
  opacity: 1;
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.background-2 {
  opacity: 0;
}

.sunrise {
  background-image: url(/images/Sunrise_1.png);
  z-index: 5;
}

.sunrise-background {
  background-image: url(/images/Sunrise_2.png);
  z-index: 1;
}

.daytime {
  background-image: url(/images/Daytime_1.png);
  z-index: 5;
}

.daytime-background {
  background-image: url(/images/Daytime_2.png);
  z-index: 1;
}

.dusk {
  background-image: url(/images/0000ca.png);
  z-index: 5;
}

.dusk-background {
  background-image: url(/images/582ac9_SunsetBIG_070517.png);
  z-index: 1;
}

.night {
  background-image: url(/images/Night_1_fill90.png);
  z-index: 5;
}

.night-background {
  background-image: url(/images/Night_2_fill90.png);
  z-index: 1;
}

.shape {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}

.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loading-text {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 20px;
  font-size: 25px;
}
